/.vscode
/1_analysis.sql
/1_basics
/2023_2024_customer_retention.sql
/3_project
/customer_category.sql
/practice
/practice_again.ipynb
/project_1.sql
/project_2.sql
/sql_course.session.sql
/sql_practice_1.sql
/sql_practice_10.sql
/sql_practice_2.sql
/sql_practice_3.sql
/sql_practice_4.sql
/sql_practice_5.sql
/sql_practice_6.sql
/sql_practice_7.sql
/sql_practice_8.sql
/sql_practice_9.sql
/test.ipynb
/top_10_company_salaries.sql
/top_20_percent_contribution.sql